html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}

.header h1{
    color: rgb(36, 33, 33);
    text-align: center;
    font-size: 70px;
    background-color: rgb(255, 0, 0);
}

h2{
    color: rgb(107, 7, 7);
}

body img{
    width: 70%;
}

ul li{
    list-style: none;
    color: rgb(238, 28, 28);
}

p, li{
    color: rgb(238, 28, 28);
    line-height: 2;
    letter-spacing: 1px;
}

body{
    width: 600px;
    padding: 20px;
}